{% extends '../base.html' %} {% block title %} Register {% endblock %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a href="{% url 'home' %}" class="btn btn-dark rounded-pill my-3">HOME</a>
        </div>
    </div>
</div>

<div class="container col-md-5">
    <div class="card mb-3 shadow-lg">
        <div class="card-body text-dark">
            <p class="card-text">
                <form action="" method="post">
                    {% csrf_token %} {{ form|crispy }}

                    <p>Already have an account? Login <a href="{% url 'login' %}">here</a>.</p>

                    <button type="submit" class='btn btn-dark rounded-pill'>REGISTER</button>
                </form>

                <p>
                    {% for field in form %} {{ field.errors }} {% endfor %}
                </p>
            </p>
        </div>
    </div>

</div>

{% endblock %}