{% extends '../base.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="container justify-content-center">
    <h5 class="text-white text-center">Made during COVID-19 lockdown at 🇮🇳</h5><br>
    <h5 class="text-white text-center">No more to show at home screen. Continue clicking the button.</h5>
    <div class="row justify-content-center">
        <a href="{% url 'register' %}" class="my-3 btn btn-warning btn-lg rounded-pill shadow-lg">
            <h2>Start using now</h2>
        </a> {% endblock %}
    </div>
</div>